extends layout
block content
    div.form-horizontal
        div.form-group.col-sm-12
            label.col-sm-1.control-label UserName 
            div.col-sm-2
                input.form-control(type="text")
        div.form-group.col-sm-12
            label.col-sm-1.control-label Password
            div.col-sm-2
                input.form-control(type="Password")
    